cloud-sql-python-connector[asyncpg]==1.18.1
langchain-core==0.3.40
numpy==2.2.3; python_version > "3.9"
numpy== 2.0.2; python_version <= "3.9"
pgvector==0.3.6
SQLAlchemy[asyncio]==2.0.38
langgraph-checkpoint==2.0.10
