cloud-sql-python-connector[asyncpg]==1.18.4
numpy==2.3.3; python_version >= "3.11"
numpy==2.2.6; python_version == "3.10"
numpy==2.0.2; python_version <= "3.9"
langgraph==0.6.8
langchain-postgres==0.0.15
